.root {
  background-color: #12184c;
  background-image: url("/bg3.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.logo {
  position: fixed;
  right: 24px;
  top: 24px;
}

.setting {
  position: fixed;
  left: 24px;
  top:  24px;
}

.box {
  max-width: 900px;
  /* background-color: #fff; */
  height: 168px;
  border-radius: 16px;
  padding: 8px 24px;

  display: flex;
  


/* border: 6px solid #FFDC97;
background: linear-gradient(178deg, #FFF 10.34%, #F6E2C5 87.69%);
box-shadow: 0px 0px 17px 0px #6F4404 inset; */
}

.start-button {
  width: 480px;
  height: 120px;
  border-radius: 8px;
  background: linear-gradient(180deg, #ffdda0 0%, #ee9723 100%);
  cursor: pointer;
  color: #834010;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  /* font-style: italic; */
  font-weight: 600;
  line-height: 130%; /* 62.4px */
}

.gradient-text {
  background: linear-gradient(90deg, #ffe6c1 6.79%, #ffdc96 99.87%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
