
.container {
    /* width: 300px; */
    /* height: 500px; */
    /* padding-top: 60px; */
    position: relative;
    --item-height: 120px;
    --total-items: 120;
    --radius: calc(var(--item-height) * var(--total-items) / (2 * 3.14159));  
    --height: calc(var(--item-height));
    height: calc(var(--height) * 1);
    width: 100%;
    overflow: hidden;
    /* outline: #888 solid 10px; */
}

.ring {
    position: absolute;
    transform-style: preserve-3d;
    font-size: 20px;
    /* outline: 10px blue solid; */
    height: var(--height);
    width: 100%;
}

.box {
    perspective: calc(var(--radius ) * 2);
    z-index: 1;
    /* outline: 5px red solid; */
    height: var(--height);
    width: 100%;
}

.running .ring {
    transform: translateZ(0);
    animation: rotate 15s ease-in-out;
}

.item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: var(--item-height);
    line-height: var(--item-height);
    background-color: #fff;
    text-align: center;
    backface-visibility: hidden;
    z-index: 1;
    font-size: calc(var(--item-height) * 0.3);
    /* outline: 1px solid #000; */
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-360deg);
    }
}

/* .xxx::before {
    height: 150px;
    width: 100%;
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    mask: linear-gradient(
      to bottom,
      transparent 0%,
      white 20%,
      white 80%,
      transparent 100%
    );
    z-index: 999;
    background: #fff;
    transform: translateZ(2000px);
  }

  .xxx::after {
    height: 150px;
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    mask: linear-gradient(
      to top,
      transparent 0%,
      white 20%,
      white 80%,
      transparent 100%
    );
    z-index: 999;
    background: #fff;
    transform: translateZ(2000px);
  } */